.popup-add__container {
  margin: auto auto;
  width: 430px;
  height: 330px;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  top: calc(50% - (330px/2));
}

@media screen and (max-width: 665px) {
  .popup-add__container {
    width: 282px;
    height: 322px;
	  top: calc(50% - (322px/2));
    align-items: center;
  }
}