.profile__add-button {
  margin: 0px;
  padding: 0px;
  width: 150px;
  height: 50px;
  background-color: black;
  background-image: url("../../../images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
  grid-area: add-button;
  align-self: center;
}
.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 950px) {
  .profile__add-button {
    width: 282px;
    align-self: self-start;
  }
}

@media screen and (max-width: 665px) {
  .profile__add-button {
    margin: 0 auto;
    width: 282px;
    align-self: self-start;
    background-size: 16px;
  }
}
