.popup__close-icon {
  background-image: url("../../../images/cross.svg");
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: calc(50% - (330px/2) - 32px - 8px); /* 32рх высота элемента, 8px - отступ из макета*/
  left: calc(50% + (430px/2) + 8px); /* 8px - отступ из макета*/
}
.popup__close-icon:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 665px) {
  .popup__close-icon {
     width: 20px;
     height: 20px;
     background-size: cover;
     top: calc(50% - (322px/2) - 20px - 16px);
     left: calc(50% + (282px/2) - 22px );
  }
}